
/* Add your profile image here */
.Photo{
    background-image: url('https://i.gifer.com/AD9T.gif');
}
.pho{
    background-image: url('https://iserv.co.in/assets/images/blockchaingif.gif');
}

.Phot{
    background-image: url('https://c.tenor.com/0JAYbcXuPiQAAAAC/gary-tay-excuse-me-but-who-are-you.gif') ;
}

/* Projects Photo */
.project1{
    background-image: url('http://www.tedu.edu.tr/sites/default/files/content_files/yatayeng-01_0.png');
    cursor: auto;

}
.project2{
    background-image: url('http://www.tedu.edu.tr/sites/default/files/content_files/yatayeng-01_0.png');
    cursor: auto;
}
.project3{
    background-image: url('http://www.tedu.edu.tr/sites/default/files/content_files/yatayeng-01_0.png');
    cursor: auto;
}
.project4{
    background-image: url('http://www.tedu.edu.tr/sites/default/files/content_files/yatayeng-01_0.png');
    cursor: auto;
}
.project5{
    background-image: url('http://www.tedu.edu.tr/sites/default/files/content_files/yatayeng-01_0.png');
    cursor: auto;
}
.project6{
    background-image: url('http://www.tedu.edu.tr/sites/default/files/content_files/yatayeng-01_0.png');
    cursor: auto; /*none dı*/
}
/* Miscelaneous Activities photo */
/*.misc1{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+one');
    cursor: none;
}
.misc2{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+two');
    cursor: none;
}
.misc3{
    background-image: url('https://via.placeholder.com/400x600.png?text=Miscellaneous+three');
    cursor: none;
}
*/
